<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	
 	<typeAliases>
 		<typeAlias alias="SCorpDTO" type="com.finalproj.missingitnow.system.model.dto.SCorpDTO"/>
 		<typeAlias alias="SCorpLvDTO" type="com.finalproj.missingitnow.system.model.dto.SCorpLvDTO"/>
 		<typeAlias alias="CorpPageDTO" type="com.finalproj.missingitnow.system.model.dto.CorpPageDTO"/>
 		<typeAlias alias="SDepositDTO" type="com.finalproj.missingitnow.system.model.dto.SDepositDTO"/>
 		<typeAlias alias="DepositPageDTO" type="com.finalproj.missingitnow.system.model.dto.DepositPageDTO"/>
 		<typeAlias alias="SOrderDTO" type="com.finalproj.missingitnow.system.model.dto.SOrderDTO"/>
 		<typeAlias alias="SProductDTO" type="com.finalproj.missingitnow.system.model.dto.SProductDTO"/>
 		<typeAlias alias="SUserDTO" type="com.finalproj.missingitnow.system.model.dto.SUserDTO"/>
 		<typeAlias alias="SCategoryDTO" type="com.finalproj.missingitnow.system.model.dto.SCategoryDTO"/>
 		<typeAlias alias="OrderPageDTO" type="com.finalproj.missingitnow.system.model.dto.OrderPageDTO"/>
 		<typeAlias alias="CorpSellPageDTO" type="com.finalproj.missingitnow.system.model.dto.CorpSellPageDTO"/>
 		
 		<typeAlias alias="SPostImgDTO" type="com.finalproj.missingitnow.communty.model.dto.SPostImgDTO"/>
 		<typeAlias alias="SPostDTO" type="com.finalproj.missingitnow.communty.model.dto.SPostDTO"/>
 		<typeAlias alias="SPCommentDTO" type="com.finalproj.missingitnow.communty.model.dto.SPCommentDTO"/>
 		<typeAlias alias="SPostListDTO" type="com.finalproj.missingitnow.communty.model.dto.SPostListDTO"/>
 		<typeAlias alias="SPReCommentDTO" type="com.finalproj.missingitnow.communty.model.dto.SPReCommentDTO"/>
 		
 		
 		<typeAlias alias="privateMemeberDTO" type="com.finalproj.missingitnow.member.model.dto.PrivateMemberDTO" />
 		
 	</typeAliases>
 </configuration>